In [2]:
import pandas as pd
ad = pd.read_csv("nhoodcoviddeaths.csv")
d1=pd.DataFrame(ad)
d1.head()

,neighborhood_municipality,infections,reinfections,deaths,hospitalizations,pcr_tests,positive_pcr_tests,update_date
0,Aleppo,2123,152,19,27,2858,319,2023-04-03
1,Allegheny Center (Pittsburgh),1695,195,5,18,3124,414,2023-04-03
2,Allegheny West (Pittsburgh),523,76,0,5,1132,119,2023-04-03
3,Allentown (Pittsburgh),3523,582,2,39,5145,680,2023-04-03
4,Arlington (Pittsburgh),2597,396,9,35,4043,502,2023-04-03

In [3]:
import pandas as pd
ad=pd.read_csv("nhoodcoviddeaths.csv")
d1=pd.DataFrame(ad)
dc1=dict()

for index, row in d1.iterrows():
    s1=row['deaths']
    if s1 not in dc1:
        dc1[s1]=1
    else:
        dc1[s1]=dc1[s1]+1
        
print(dc1)

{19: 3, 5: 14, 0: 22, 2: 16, 9: 5, 3: 13, 15: 4, 79: 1, 22: 2, 7: 11, 6: 16, 12: 4, 111: 1, 27: 5, 1: 15, 24: 2, 16: 4, 17: 2, 4: 9, 13: 7, 30: 2, 11: 7, 21: 3, 14: 2, 18: 3, 10: 5, 8: 7, 38: 3, 42: 1, 29: 1, 20: 1, 25: 1, 32: 2, 23: 3, 57: 1, 51: 1, 151: 2, 126: 1, 61: 1, 100: 1, 28: 1, 127: 1, 40: 2, 75: 1, 55: 1, 26: 1, 163: 1, 87: 1, 62: 1, 67: 1, 53: 1, 69: 1, 39: 1, 46: 1, 84: 1, 59: 1}

In [17]:
import pandas as pd

filename = "nhoodcoviddeaths.csv"  # replace with your CSV file name
value_column = 'deaths'    # replace with the name of the column you want to search for the lowest value
name_column = 'neighborhood_municipality'   # replace with the name of the column containing the names

df = pd.read_csv(filename)

min_value = df[value_column].min()


min_rows = df.loc[df[value_column] == min_value]


product_names = min_rows[name_column].tolist()


if len(product_names) == 1:
    print(f'The lowest number of covid related {value_column} is {min_value}, '
          f'associated with the {name_column} "{product_names[0]}".')
else:
    print(f'The lowest number of covid related {value_column} being {min_value}, '
          f'were in the following {len(product_names)} neighborhoods:')
    for name in product_names:
        print(f'- {name}')

The lowest number of covid related deaths being 0, were in the following 22 neighborhoods:
- Allegheny West (Pittsburgh)
- Ben Avon Heights
- Chateau (Pittsburgh)
- Emsworth
- Esplen (Pittsburgh)
- Friendship (Pittsburgh)
- Glen Osborne
- Glenfield
- Haysville
- Homewood West (Pittsburgh)
- Kilbuck
- Mcdonald
- Mt. Oliver (Pittsburgh)
- North Shore (Pittsburgh)
- Pennsbury Village
- Polish Hill (Pittsburgh)
- Sewickley Hills
- South Shore (Pittsburgh)
- Thornburg
- Trafford
- Undefined (Pittsburgh)
- West End (Pittsburgh)